adult_preprocess.ipynb
german.ipynb
model
model_adult_21Aug_original
pred.pkl
result_adult_21Aug_original
adult_sdv.ipynb
model_adult
model_adult_22Aug_ori_norm
result_adult
result_adult_22Aug_ori_norm
yaleb.ipynb
model_adult_21Aug
model_adult_4Sep
result_adult_21Aug
result_adult_4Sep
main_editted.py      
model_adult_21Aug_norm
model_yaleb
result_adult_21Aug_norm